@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply flex flex-col h-screen w-[100vh] bg-[black] overflow-hidden m-0 text-center;
}

.project-cover {
  @apply w-[36vmin] h-[50vmin] object-cover -translate-x-2/4;
}

.project-presentation {
  @apply absolute left-[16.66%] w-2/3;
}

.image-track {
  @apply flex gap-[4vmin] absolute left-2/4 top-2/4;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
